.checkoutproduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

}

.checkoutproduct__image {
    object-fit: contain;
    width: 200px;
    height: 260px;
    padding-bottom: 10px;
    
}

.checkoutproduct__info {
    padding-left: 20px;
    padding-top: 10px;
}

.checkoutproduct__info > button {
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    max-width: 150px;
    color: #111;
}

.checkoutproduct__title {
    font-size: 15px ;
    font-weight: 550;
}

.checkoutproduct__rating {
    display: flex;
}

.checkoutproduct__price {
   margin-top: 10px;
   margin-bottom: 10px;

}